.heroImageDiv {
  width: 84%;
  height: auto;
  margin: 0.5rem 8%;
}

.heroImage {
  width: 100%;
  height: auto;
}

.sliderImgDiv {
  width: 86%;
  height: auto;
  margin: 0.5rem 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.sliderName {
  text-align: center;
  font-size: 18px;
  font-weight: 450;
  color: #0c0c0cc2;
}

.dealOfTheDay {
  width: 100%;
  margin-bottom: 3rem;
}

.sliderImg {
  width: 100%;
}
